@font-face {
    font-family: "BBVA Office Light";
    src: url("../fonts/bbvaoffice-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BBVA Web Book";
    src: url("../fonts/bbvaweb-book.eot");
    src: url("../fonts/bbvaweb-book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/bbvaweb-book.woff") format("woff"),
    url("../fonts/bbvaweb-book.ttf") format("truetype"),
    url("../fonts/bbvaweb-book.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BBVA Web Light";
    src: url("../fonts/bbvaweb-light.eot");
    src: url("../fonts/bbvaweb-light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/bbvaweb-light.woff") format("woff"),
    url("../fonts/bbvaweb-light.ttf") format("truetype"),
    url("../fonts/bbvaweb-light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BBVA Web Medium";
    src: url("../fonts/bbvaweb-medium.eot");
    src: url("../fonts/bbvaweb-medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/bbvaweb-medium.woff") format("woff"),
    url("../fonts/bbvaweb-medium.ttf") format("truetype"),
    url("../fonts/bbvaweb-medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    transition: display 1ms;
    -webkit-transition: display 1ms;
    -moz-transition: display 1ms;
    -o-transition: display 1ms;
}

html, body {
    overflow: auto;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    text-align: justify;
}

#layout {
    margin: auto;
    width: 900px;
    height: 100%;
    padding: 0px;
}

#head, #menu, #body, #foot {
    padding: 0px;
    margin: 0px;
}

.contenidoModal .btn,
#layout .btn {
    height: 28px;
    background: #0079c1;
    background: linear-gradient(to bottom, #0079c1 0, #00559d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0079c1', endColorstr='#00559d', GradientType=0);
    border: 1px solid #00559d;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-shadow: none;
    -webkit-filter: none;
    filter: none;
    box-shadow: none;
}

.contenidoModal .btn:hover,
.contenidoModal .btn:focus,
.contenidoModal .btn:active,
#layout .btn:hover,
#layout .btn:focus,
#layout .btn:active {
    background: #0069b1;
    background: linear-gradient(to bottom, #0069b1 0, #004b8c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069b1', endColorstr='#004b8c', GradientType=0);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    border: 1px solid #003c6f;
    color: #FFF;
    text-decoration: none;
    transition: background-position .1s linear;
}

#menu {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 45px;
    background: linear-gradient(#0079c1, #00529b) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: rgb(0, 120, 210);
    border-radius: 5px;
    font-weight: normal;
}

#menu .btn {
    height: 45px;
    line-height: 28px;
    border-radius: 0px;
}

#menu .btn-first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#menu .btn-last-child {
  /* border-radius: 0px; */
}

#menu .btn .caret {
    margin-left: 10px;
}

#menu .dropdown {
    margin-left: -5px;
}

#menu .dropdown-first {
    margin-left: 0px;
}

.contenidoModal .btn,
#layout .btn {
    padding-top: 4px;
}

#layout .btn .active {
    background: #0079c1;
    background: -moz-linear-gradient(top, #0079c1 0, #00529b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0079c1), color-stop(100%, #00529b));
    background: -webkit-linear-gradient(top, #0079c1 0, #00529b 100%);
    background: -o-linear-gradient(top, #0079c1 0, #00529b 100%);
    background: -ms-linear-gradient(top, #0079c1 0, #00529b 100%);
    background: linear-gradient(to bottom, #0079c1 0, #00529b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0079c1, endColorstr=#00529b, GradientType=0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}

.nav-tabs .active {
    font-weight: bold;
}

#layout .row {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.contenidoModal .row {
    margin: 0px;
    margin-right: 20px;
    margin-left: 20px;
}

#layout .well {
    background-color: #fff;
    padding: 0px; 
}

#layout .well h1,
#layout .well h1 small {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #0072C9;
    /* font-family: 'BBVA Web Light'; */
    font-size: 20px;
    text-align: left;
}

#layout .well h1 small {
    /* font-weight: bold; */
}

#layout .form-group {
    margin-bottom: 0px;
}

.contenidoModal span.form-control,
.contenidoModal input[type="text"].form-control,
.contenidoModal textarea.form-control,
#layout span.form-control,
#layout input[type="text"].form-control,
#layout textarea.form-control, {
    height: 28px;
    padding: 2px 12px;
    padding-top: 3px;
    font-size: 12px;
    vertical-align: middle;
    /*
    -webkit-box-shadow: #d6d6d6 0 1px 1px inset;
    -moz-box-shadow: #d6d6d6 0 1px 1px inset;
    box-shadow: #d6d6d6 0 1px 1px inset;
    */
}

.contenidoModal div.form-control,
#layout div.form-control {
    height: 28px;
}

.contenidoModal span.form-control,
#layout span.form-control {
    background-color: #f8f8f8;
    padding-top: 5px;
}

.contenidoModal fieldset,
#layout fieldset {
    width: 100%;
    padding: 0.6em 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #ccc;
}

.contenidoModal .legend,
.contenidoModal legend,
#layout .legend,
#layout legend {
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
    color: #003D91;
    border: 0px;
    width: auto;
    margin-bottom: 5px;
}

.contenidoModal .legend,
#layout .legend {
    padding: 0px;
    font-weight: normal;
}

@media (min-width: 900px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 860px;
  }
}

#layout .col-md-1,
#layout .col-md-2,
#layout .col-md-3,
#layout .col-md-4,
#layout .col-md-5,
#layout .col-md-6,
#layout .col-md-7,
#layout .col-md-8,
#layout .col-md-9,
#layout .col-md-10,
#layout .col-md-11,
#layout .col-md-12 {
    margin: 0px;
    padding: 0px;
}

/*
#layout .col-md-1,
#layout .col-md-2,
#layout .col-md-3,
#layout .col-md-4,
#layout .col-md-5,
#layout .col-md-6,
#layout .col-md-7,
#layout .col-md-8,
#layout .col-md-9,
#layout .col-md-10,
#layout .col-md-11,
#layout .col-md-12,
#layout .row {
    border: 1px solid #f00;
}
*/

#head {
    height: 30px;
}

#foot {
}

#body {
    position: relative;
    overflow: auto;
}

.panelHead {
    width: 100%;
    height: 30px;
    background: url(../img/marca/logoSayri.png) no-repeat;
}

.panelCabecera {
    width: 100%;
    height: 30px;
    background: url(../img/marca/logoSayri.png) no-repeat;
}

.panelTitle {
    position: relative;
    top: 10px;
    height: 50px;
    width: 100%;
    text-align: right;
    vertical-align: bottom;
}

.panelTitle span {
    height: 50px;
    line-height: 50px;
    text-align: right;
    vertical-align: bottom;
    font-size: 30px;
    color: rgb(00, 110, 193);
    font-family: "BBVA Web Light";
}

.panelUser {
    padding-top: 10px;
    padding-right: 0px;
    width: 100%;
    text-align: right;
    line-height: 18px;
}

.panelUser,
.panelUser span,
.panelUser .panelUserBuscar {
    font-size: 12px;
    color: rgb(77, 77, 79);
}

.panelUser .panelUserBuscar {
    display: inline;
}

.panelUser .username {
    color: rgb(00, 158, 229);
}

.panelUser a,
.panelUser a:active,
.panelUser a:hover,
.panelUser a:visited {
    color: white;
    background: rgb(200, 23, 94);
    border: 0px;
    padding: 4px 8px;
    text-decoration: none;
}

.panelUser a span {
    color: white;
    display: inline;
}

.ui-icon-bbva-close {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-image: url('../img/logout16x16.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

.control-label-0 {
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    font-weight: normal;
}

/* Corner radius */
.ui-corner-all {
    border-radius: 4px;
}

.ui-corner-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ui-corner-bottom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ui-corner-tl-bl,
.ui-corner-tl-bl a.select2-choice  {
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
}

.ui-corner-tr-br,
.ui-corner-tr-br a.select2-choice {
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
}

.hide {
    display: none;
}

/*
.ag-header,
.ag-header .ag-header-viewport,
.ag-header .ag-header-container {
    height: 30px;
}
*/

.ag-header .ag-header-cell {
    text-align: center;
    background:#f8f8f5;
    font-weight: bold;
    font-size: 9px;
    color:#62676b;
    line-height: 26px;
    border: 1px solid #e5e5e5;
    box-shadow: #fff 0 0 0 2px inset;
    moz-box-shadow: #fff 0 0 0 2px inset;
    -o-box-shadow: #fff 0 0 0 2px inset;
    -moz-box-shadow: #fff 0 0 0 2px inset;
    -webkit-box-shadow:#fff 0 0 0 2px inset;
}

.ag-body .ag-row-even {
    
}

.ag-body .ag-row-odd {
    /* background: #f3fcff; */
}

.ag-body .ag-row-even:hover,
.ag-body .ag-row-odd:hover {
    background: #f3fcff;
}

.ag-body .ag-row-selected{
    /*
    background: #e0f6fc; 
    background-color: #F4F6F3;
    border-top: 1px solid #DBDCDF;
    border-bottom: 1px solid #DBDCDF;
    */
    /*
    background: #f3fcff;
    font-weight: bold;
    color: #0065b7;
    */
}

.ag-body .ag-cell {
    padding: 0 10px;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    font-size: 0.9em;
    white-space: pre-wrap;
    /* line-height: 30px; */
    text-align: left;
}

.grid-panel .ag-body .ag-cell {
    line-height: 30px;
}

.ag-paging-button {
    margin-top: 2px;
    padding-top: 3px;
    padding-bottom: 4px;
}
/*
.ag-body .cell-col-1,
.ag-body .cell-col-3,
.ag-body .cell-col-4,
.ag-body .cell-col-5 {
    margin: auto;
    text-align: center;
}
*/
.loading-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.loading {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-image: none;
    border: 1px solid #f5f7f8;
    background-color: #ededed;
    outline: 0px;
    padding: 0px;
    width: 300px;
    height: 170px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.loadingContent {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid #dcdcdc;
    background: #fff;
    position: relative;
    width: 280px;
    height: 150px;
    margin: auto;
}

.loading .loadingImage {
    position: relative;
    height: 80%;
    width: 100%;
    background: #fff url(../img/cargando.gif) center center no-repeat;
    display: block;
}

.loading .loadingText {
    color: #555;
    text-align: center;
    display: block;
}

.ui-widget-overlay-background {
    position:absolute;
    z-index:9998;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #2d5972 url("../img/ui-bg_flat_0_2d5972_40x100.png") 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
}

.ui-widget-overlay {
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: table;
}

.highcharts-title tspan {
    font-size: 18px;
    font-weight: bold;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 0.3;
}

.btn {
    font-size: 12px;
}

.modal {
    overflow-y: auto;
}

.modal-header {
    padding: 10px;
}

.modal-header h3,
.modal-header .h3 {
    font-size: 14px;
    font-weight: bold;
}

.modal-footer {
    border-top: 0px;
    margin-top: 5px;
    padding: 4px 10px 10px;
    text-align: right;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.modal-body {
    font-size: 14px;
}

.parent {
    position: relative;
}

.child .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

/*
.glyphicon-ok-sign {
    padding-left: 10px;
    padding-right: 3px;
    color: green;
}

.glyphicon-remove-sign {
    padding-left: 10px;
    padding-right: 3px;
    color: red;
}

.glyphicon-plus-sign {
    padding-left: 10px;
    padding-right: 3px;
    color: black;
}
*/

.row table.table-panel-100 {
    width: 100%;
}

.row table.table-panel {
    border-collapse: collapse;
}

.row table.table-panel td {
    padding-bottom: 8px;
    background-color: #fff;
    /*border: 1px solid #f00; transparent;*/
    border-radius: none;
    box-shadow: none;
}

.row table.table-panel td .control-label {
    display: table-cell;
    vertical-align: middle;
}

.row table.table-panel td.separator {
    width: 15px;
}

.row table.table-right {
    float: right;
}

/*
@media (min-width: 1000px) {
    #txtTipoDocumento {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    #cboTipoDocumento .select2-choice {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
*/

@media only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    .row table.table-panel,
    .row table.table-panel thead, 
    .row table.table-panel tbody, 
    .row table.table-panel th, 
    .row table.table-panel td, 
    .row table.table-panel tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    .row table.table-panel thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    .row table.table-panel tr {
        border: 1px solid #ccc;
    }
    
    .row table.table-panel td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
    }
    
    .row table.table-panel td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
}

.table-panel .row {
    margin: 0px !important;
}

.col,
.table-panel .col {
    position: relative;
    min-height: 1px;
    padding: 0px;
    float: left;
}

#layout legend.activo {
    color: red;
}

.glyphicon-menu {
    padding-right: 10px;
}

.glyphicon-menu-right {
    padding-left: 10px;
}

.panel-datos-identificacion .col-1 {
    width: 150px;
}

.panel-datos-identificacion .col-2 {
    width: 250px;
}

@media only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px) {

    #panel-datos-identificacion .col-1,
    #panel-datos-identificacion .col-2 {
        width: auto;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 1000px;
    }
}

.select2-container .select2-choice {
    height: 28px;
    line-height: 14px;
}

.select2-arrow {
    top: -2px !important;
}

.error-icon {
    width: 16px;
    height: 16px;
    background: url(../img/exclamation_red_frame.png) no-repeat center center; 
}

.glyphicon-red {
    color: #cc0000 !important;
}

.glyphicon-red-1 {
    color: #f00 !important;
    font-weight: bold;
}

.glyphicon-green {
    color: #008000 !important;
}

.indicadorAmarrillo {
    background: url(../img/yellow-circle-icone-7011-16.png) no-repeat center center;
    width: 18px;
    height: 18px;
    left: -4px;
    top: 3px;
}

.indicadorRojo {
    background: url(../img/red-circle-icone-5751-16.png) no-repeat center center;
    width: 18px;
    height: 18px;
    left: -4px;
    top: 3px;
}

.indicadorVerde {
    background: url(../img/green-circle-icone-4156-16.png) no-repeat center center;
    width: 18px;
    height: 18px;
    left: -4px;
    top: 3px;
}

.tooltip.info .tooltip-inner {
    color: #880000;
    background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/* Hide arrow */
.tooltip.info .tooltip-arrow {
    display: none;
    /*color: #880000;
    background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
}

.indra-panel-buscar {
    padding-top: 24px;
}

.indra-panel-buscar h1 small{
    padding-left: 10px;
}

/*
.form-control {
    height: 28px;
    line-height: 28px;
}
*/